

.me-cont{
    display: flex;
}

.silueta{
    z-index: 90;
}
footer{
    z-index: 100;
}

.rank{
    width: 380px;height: 97px;display: flex;justify-content: flex-start;align-items: center;color: white;background-color: #3f3f3f75;border-radius: 16px;
}




.rank-logo{
    width: 93px;height: 93px;
}

.username{
    font-size: 28px;
}

/**/
.best-map{
    display: flex;min-width: 580px;min-height: 110px;background-color: #3f3f3f;border-radius: 16px;color: white; padding: 30px;justify-content: flex-start;gap: 30px;
}

.map{
    display: flex;justify-content: flex-start;align-items: center; gap: 40px; margin-bottom: 30px;
}

.map h2{
    font-size:40px;font-weight: 600;
}

.winrate{
    background-color: white;color: gray;padding: 10px 40px 10px 40px; border-radius: 16px;
}

.estadisticas h3{
    font-weight: 600 !important;
}

.agents-stats{
    min-width: 400px;
    display: flex;align-items: center;justify-content: space-between;gap: 20px;
}

.agent-winrate{
    background-color: white;border-radius: 16px; color: grey; padding: 5px 10px 
}

.agents-stats img{
    background-color: black;width: 50px; height: 50px;
}
.agent-map{
    display: flex;flex-direction: column;gap: 5px;
}

.rso{
    background-color: rgb(163, 26, 26);
    border-radius: 0.3em;
    width: auto;
    padding: 15px 30px;
    margin-bottom: 20px;

}