.myteam-cont{
    display: flex; flex-wrap: wrap;align-items:center; justify-content:flex-start; gap: 60px;
    width: 1300px;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
}
.team-member{
    color: white;
}

.player-info h3{
    font-size: 30px;
}

.role-img, .rank-img{
    width: 100px;height: 100px;
}
.player-container{
    color: white;
}
.team-member{
    display: flex;justify-content: flex-start;align-items: center; background-color: rgba(0, 0, 0, 0.397); width: 500px; border-radius: 10px;
}

