{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">

</head>
<body>
    <h2>Pagina del Alumno</h2>
    <p>Codigo de invitacion: <span>{{codigo}}</span></p>
    <p>Materia: <span>{{materia}}</span></p>
    <p>Colegio: <span>{{colegio}}</span></p>
    <p>Curso: <span>{{curso}}</span></p>
    <p>Cantidad de alumnos: <span>{{cantidad_alumnos}}</span></p><a href="/alumnos/{{id}}" style="color: blue;">Acceder al listado de alumnos</a>
    <p>Docente: <span>{{docente}}</span></p>
    <p>ID: <span>{{id}}</span></p>

    {% if not encuesta_realizada_alumno %}
        <a href="/responderencuesta/{{id}}" style="color: blue;">Aun no has respondido la encuesta de Inicio de curso</a>

    {% endif %}
  
</body>
</html>