{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">

</head>
<body>
    <section class="inicio-container">
        <header>
            <div class="menu-right">
                <a href="{% url 'logout' %}"><h3>Cerrar Sesion</h3></a>
            </div>
        </header>
        
        <section class="">
            <h2>Home page</h2>
            <br>
            <br>
            <h1>Tus cursos creados</h1>
            <p>{{curso_owner}}</p>
            <h1>Tus cursos</h1>
            <p>{{curso_alumno}}</p>
            <footer>
                footer
            </footer>
        </section>
        
    </section>
</body>
</html>