{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">

</head>
<body>
    <section class="inicio-container">
        <header>
            <div class="menu-right">
                <a href="{% url 'logout' %}"><h3>Cerrar Sesion</h3></a>
            </div>
        </header>
        
        <section class="background">
            <div class="container me-cont">
                <div class="me-cont-left">
                    <img src="{% static 'src/silueta-skye.png' %}" alt="" class="silueta">
                </div>
                <div class="me-cont-right">
                    <br><br><br>
                    <a href="{% url 'oauth_redirect' %}" style="text-decoration: none;" class="rso">{{riot_token}}</a>
                    <br>
                    <div class="rank">
                        <img src="{% static 'src/silver.png' %}" alt="" class="rank-logo">
                        <div class="info">
                            <h3 class="username">RIDAN</h3>
                            <h5>Season winrate: <span class="info">80V - 25D:</span> <span class="warning">76%</span></h5>
                        </div>   
                    </div>
                    <br><br><br>
                    <div class="best-map">
                        <div class="map-left">
                            <div class="map">
                                <h2>ASCENT</h2>
                                <div class="winrate"><p>16V - 6D: <span class="warning">72%</span> </p></div>
                            </div>
                            <div class="estadisticas">
                                <h3>ATQ: <span class="warning">56%</span> DEF: <span class="warning">58%</span> </h3>
                                <h3>PLANT A: <span class="warning">56%</span> DEFUSE A: <span class="warning">58%</span> </h3>
                                <h3>PLANT B: <span class="warning">56%</span> DEFUSE B: <span class="warning">58%</span> </h3>

                            </div>
                            
                        </div>
                        <div class="map-right">
                            <h2>BEST AGENTS</h2>
                            <br>
                            <div class="agent-map">
                                <div class="agents-stats">
                                    <div class="agent-winrate"><span class="info">80V - 25D:</span> <span class="warning">76%</span></div>
                                    <img src="" alt="">
                                    <h3>PICK: <span class="warning">5 - 33%</span></h3>
                                    <h3>RATE: ATQ - <span class="warning">70%</span></h3>
                                    <h3>DEF - <span class="warning">56%</span></h3>
                                </div>

                                <div class="agents-stats">
                                    <div class="agent-winrate"><span class="info">80V - 25D:</span> <span class="warning">76%</span></div>
                                    <img src="" alt="">
                                    <h3>PICK: <span class="warning">5 - 33%</span></h3>
                                    <h3>RATE: ATQ - <span class="warning">70%</span></h3>
                                    <h3>DEF - <span class="warning">56%</span></h3>
                                </div>

                                <div class="agents-stats">
                                    <div class="agent-winrate"><span class="info">80V - 25D:</span> <span class="warning">76%</span></div>
                                    <img src="" alt="">
                                    <h3>PICK: <span class="warning">5 - 33%</span></h3>
                                    <h3>RATE: ATQ - <span class="warning">70%</span></h3>
                                    <h3>DEF - <span class="warning">56%</span></h3>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
            <footer>
                <div class="footer-left">
                    <a href="">POLICIES</a><a href="">FAQ</a>
                </div>
                <div class="footer-right">
                    <a href="">FACEBOOK</a><a href="">TWITTER</a><a href="">INSTAGRAM</a>
                </div>
            </footer>
        </section>
        
    </section>
</body>
</html>