{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">

</head>
<body>
    <section class="inicio-container">
        <header>
            <div class="menu-right">
                <a href="{% url 'logout' %}"><h3>Cerrar Sesion</h3></a>
            </div>
        </header>
        
        <section class="">
            <h2>Home page</h2>
            <br>
            <p>Bienvenido <span>{{nombre_usuario}}</span></p>
            <br>
            <h1>Tus cursos creados</h1>
            <a href="/crearcurso" style="color: blue;">Crear un curso nuevo</a>
            <p>{{curso_owner_error}}</p>
            <ul>
                {% for item in curso_owner %}
                    <li>{{ item.1 }}</li>
                {% endfor %}
            </ul>
            <h1>Tus cursos</h1>
            <form id="cursojoin" method="post" action="/joincurso/">
                {% csrf_token %}  <!-- Asegúrate de incluir el token CSRF si estás en un entorno de Django -->
                <input type="text" id="id_curso" name="id_curso" required placeholder="Codigo de curso">
                <input type="submit" value="Unirse a un curso">

            </form>
            <p>{{curso_alumno_error}}</p>
            {% for item in curso_alumno %}
                    <a href="/cursos/{{ item.1 }}" style="color: green;"><li>Curso: {{ item.4}} </li></a>
            {% endfor %}
            <footer>
                footer
            </footer>
        </section>
        
    </section>
</body>
</html>