{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">

</head>
<body>
    <section class="inicio-container">
        <header>
            <div class="menu-left">
                <a href=""></a>
                <a href=""></a>
            </div>
            <div class="menu-right">
                <a href="login/"><h3>LOG IN</h3></a>
            </div>
        </header>
        <section >
            <h2>Pagina  de Bienvenida</h2>
        </section>
        
    </section>
</body>
</html>